
* {
    border-radius: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: #121212;    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.container-mapa {
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px; 
    width: 100%; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}


h2 {
    padding: 10px 0 0px 150px;
    font-size: 28px;
    margin-bottom: 4px;
    

}

.header {
    background: linear-gradient(120deg, #3acbf0 0%, #8bb0ff 100%);
    padding: 15px;
    text-align: center;
    color: #fff;

 }

.form {
    padding: 10px;    
   
}

.form-content {
    padding: 10px;
    color: black;
       
}

.form-content label {
    font-size: 20px;
    margin-bottom: 4px;
}

.form-content input {
    width: 60%;
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
    border: 2px solid #dfdfdf;

}

#form-bt {
    justify-content: center;
    align-items: center;
    display: flex;
}

.form button {
    background-color: #00c3ff;
    color: #fff;
    width: 40%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

#text-title {
    font-size: 22px;
    margin-bottom: 4px;
    padding: 0px 0 0px 8px;
}

.list-text {
    padding: 14px;
    margin: 14px;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

footer {
    padding: 10px 0px 10px 180px;
    background-color: rgba(133, 180, 233, 0.171);
}   
    
    